In [1]:
import pandas as pd
import plotly.express as px

In [2]:
tree_df = pd.read_csv("tree.csv")
tree_df.head()

,X,Y,OBJECTID,streetaddress,city,zipcode,facilityid,present,genus,species,...,carbonavoid_lbperyr,carbonavoid_dolperyr,heating_mbtuperyr,heating_dolperyrmbtu,heating_kwhperyr,heating_dolperyrmwh,cooling_kwhperyr,cooling_dolperyr,totalenerg_dolperyr,contractplantingyr
0,-78.870383,35.989677,458609,2403 QUINCY ST,DURHAM,27703.0,2886907,Tree,Cercis,canadensis,...,0.322,0.03,-0.021,-0.28,-0.472,-0.06,4.624,0.55,0.21,NaN
1,-78.902555,35.993735,458610,123 VIVIAN ST 1,DURHAM,27701.0,2886981,Tree,Chionanthus,retusus,...,-2.970,-0.25,-0.080,-1.11,-1.865,-0.22,5.732,0.69,-0.64,NaN
2,-78.902493,35.993718,458611,123 VIVIAN ST 2,DURHAM,27701.0,2886982,Tree,Chionanthus,retusus,...,-6.156,-0.52,-0.138,-1.90,-3.192,-0.38,6.762,0.81,-1.48,NaN
3,-78.940388,35.991581,458612,NaN,NaN,NaN,2891630,Tree,Quercus,alba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-78.934895,35.996713,458613,NaN,NaN,NaN,2891631,Tree,Quercus,virginiana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
tree_col = tree_df.columns.tolist()

In [4]:
tree_col

# for translation of some of the col: https://live-durhamnc.opendata.arcgis.com/datasets/DurhamNC::trees-planting-sites/about
# x and y are latitude and longitude respectively
# Looks like all rows have NaN
# all lat and lon are present
# Note that all future planting sites are also in the dataset. It would follow that these sites would have lat and lon, but then have other NaN

['X',
 'Y',
 'OBJECTID',
 'streetaddress',
 'city',
 'zipcode',
 'facilityid',
 'present',
 'genus',
 'species',
 'commonname',
 'plantingdate',
 'diameterin',
 'heightft',
 'condition',
 'contractwork',
 'neighborhood',
 'program',
 'plantingw',
 'plantingcond',
 'underpwerlins',
 'matureheight',
 'GlobalID',
 'created_user',
 'created_date',
 'last_edited_user',
 'last_edited_date',
 'isoprene',
 'monoterpene',
 'vocs',
 'coremoved_ozperyr',
 'coremoved_dolperyr',
 'o3removed_ozperyr',
 'o3removed_dolperyr',
 'no2removed_ozperyr',
 'no2removed_dolperyr',
 'so2removed_ozperyr',
 'so2removed_dolperyr',
 'pm10removed_ozperyr',
 'pm10removed_dolperyr',
 'pm25removed_ozperyr',
 'o2production_lbperyr',
 'replacevalue_dol',
 'carbonstorage_lb',
 'carbonstorage_dol',
 'grosscarseq_lbperyr',
 'grosscarseq_dolperyr',
 'avoidrunoff_ft2peryr',
 'avoidrunoff_dol2peryr',
 'polremoved_ozperyr',
 'polremoved_dolperyr',
 'totannbenefits_dolperyr',
 'leafarea_sqft',
 'potevapotran_cuftperyr',
 'evaporation_cuftperyr',
 'transpiration_cuftperyr',
 'h2ointercept_cuftperyr',
 'avoidrunval_cuftperyr',
 'avoidrunval_dol2peryr',
 'carbonavoid_lbperyr',
 'carbonavoid_dolperyr',
 'heating_mbtuperyr',
 'heating_dolperyrmbtu',
 'heating_kwhperyr',
 'heating_dolperyrmwh',
 'cooling_kwhperyr',
 'cooling_dolperyr',
 'totalenerg_dolperyr',
 'contractplantingyr']

In [5]:
nan_tree = tree_df.isna().any(axis=1)
nan_tree

0        True
1        True
2        True
3        True
4        True
         ...
27688    True
27689    True
27690    True
27691    True
27692    True
Length: 27693, dtype: bool

In [6]:
tree_df.shape

(27693, 69)

In [7]:
tree_loc = tree_df[["X","Y", "commonname", "coremoved_ozperyr", "carbonstorage_lb"]]
tree_loc

,X,Y,commonname,coremoved_ozperyr,carbonstorage_lb
0,-78.870383,35.989677,Eastern Redbud,0.0,2.2
1,-78.902555,35.993735,Chinese Fringe Tree,0.0,78.7
2,-78.902493,35.993718,Chinese Fringe Tree,0.0,78.7
3,-78.940388,35.991581,White Oak,0.8,2645.6
4,-78.934895,35.996713,Live Oak,0.3,493.9
...,...,...,...,...,...
27688,-78.918469,36.051412,NaN,NaN,NaN
27689,-78.918583,36.051414,NaN,NaN,NaN
27690,-78.918740,36.051420,NaN,NaN,NaN
27691,-78.916430,36.023540,NaN,NaN,NaN
27692,-78.907408,35.971533,NaN,NaN,NaN

In [8]:
tree_loc.shape[0] - tree_loc.dropna().shape[0]

9731

In [9]:
tree_loc_drop = tree_loc.dropna()

In [10]:
tree_loc_drop

,X,Y,commonname,coremoved_ozperyr,carbonstorage_lb
0,-78.870383,35.989677,Eastern Redbud,0.0,2.2
1,-78.902555,35.993735,Chinese Fringe Tree,0.0,78.7
2,-78.902493,35.993718,Chinese Fringe Tree,0.0,78.7
3,-78.940388,35.991581,White Oak,0.8,2645.6
4,-78.934895,35.996713,Live Oak,0.3,493.9
...,...,...,...,...,...
24687,-78.899118,36.002794,Trident Maple,0.0,34.5
24688,-78.899128,36.002893,Trident Maple,0.0,34.5
24689,-78.900366,36.003732,Trident Maple,0.0,34.5
24774,-78.900167,36.003735,Trident Maple,0.0,34.5
24775,-78.900429,36.003731,Trident Maple,0.0,34.5